<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	

	<style>
					
	</style>
</head>
<body >
	
	<div class="limiter" >
<div class="container-login100" >
				<!--style="background-image:url('images/iphone1.jpg'); background-size:contain; background-repeat:no-repeat; background-attachment: scroll; background-position:center;"  -->
				
	<div class="wrap-login100" style="background:#2bffea">
				<form class="login100-form validate-form" >
					<span class="login100-form-title p-b-26">
					
						<i class="fa fa-user fa-fw"></i>
					</span>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
											 <i class="fa fa-facebook fa-fw"></i>
								 Facebook
							</button>
												
						</div>
						
						
					</div>

		<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
											 <i class="fa fa-twitter fa-fw"></i>
								  Twitter
							</button>
												
						</div>
						
						
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
											 <i class="fa fa-podcast fa-fw"></i>
								 My Custom Link
							</button>
												
						</div>
						
						
					</div>
				</form>
			</div>		
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	


</body>
</html>
